header {
  height: 100vh;
  background-image: url(../images/header_image.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}
.data {
  font-weight: 700;
}

.logo {
  color: $textLight;
  display: flex;
}

.logo h1 {
  margin-top: 6px;
  margin-left: 5px;
  font-size: 1.5rem;
}

.list li {
  font-size: 0.8rem;
  display: inline;
}

.list a {
  text-decoration: none;
  padding: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #cfc8c8;
}

.list a:hover {
  color: #fff;
}

.list::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.list:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
nav {
  position: absolute;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* hero */

.automation {
  margin: 4rem 0 0 5.5rem;
  color: $textLight;
}

.automation-head {
  margin-top: 10rem;
  font-size: 2.7rem;
  font-weight: 600;
  animation: slideInLeft 1s ease-in-out;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    visibility: visible;
  }
  90% {
    transform: translateX(3%);
  }
  100% {
    transform: translateX(0);
  }
}
.automation-body {
  font-weight: 300;
  font-size: 1.2rem;
  animation: slideInRight 1s ease-in-out;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    visibility: visible;
  }
  90% {
    transform: translateX(-3%);
  }
  100% {
    transform: translateX(0);
  }
}

.btn {
  padding: 0.7rem 0.8rem;
  font-size: 1rem;
  background-color: #f4895e;
  border: 2px solid #f4895e;
}

.btn-know {
  padding: 0.7rem 0.8rem;
  font-size: 1rem;
  background: rgba(30, 7, 7, 0.1);
  border: 2px solid rgba(30, 7, 7, 0.005);
  margin-left: 2rem;
}

.btn:hover,
.btn-know:hover {
  background: #888888b9;
  border: 0;
  box-shadow: 2px 2px 20px #000;
  cursor: pointer;
}

// Our Work

.work {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: $textDark;
}

.work-grid {
  margin: 0 9rem;
}

.ai-col {
  background-image: url(../images/green-bg.png);
  background-size: cover;
  padding: 2rem;
  text-align: left;
}

.ai {
  height: 180px;
  margin-bottom: 1rem;
}

.ai-heading {
  color: $textLight;
}
.sub-head {
  color: $textLight;
  margin-top: 0.2rem;
  margin-bottom: 1.2rem;
}
.ai-text {
  color: $textLight;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1rem;
}

.ai-btn {
  margin-top: 1.1rem;
  float: right;
  color: $textLight;
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem;
  background: rgba(30, 7, 7, 0.1);
  border: 2px solid rgba(30, 7, 7, 0.005);
}
.ai-btn:hover {
  background: #88888860;
  border: 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473);
  cursor: pointer;
}

.truescore {
  background-image: url(../images/blue-bg.png);
  padding: 2rem;
  color: $textLight;
}

.image {
  text-align: center;
  margin-top: 1rem;
}

.truescore-text {
  margin: 2rem;
}

.truescore-text h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.tr-btn {
  float: right;
  color: $textLight;
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem;
  background: rgba(30, 7, 7, 0.1);
  border: 2px solid rgba(30, 7, 7, 0.005);
}

.tr-btn:hover {
  background: #88888860;
  border: 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473);
  margin-bottom: 4px;
  cursor: pointer;
}

.demand-ai {
  background-image: url(../images/blue-bg.png);
  padding: 2rem;
}

// Case Studies

.case-wallpaper {
  background-image: url(https://mdn.mozillademos.org/files/11307/bubbles.png),
    linear-gradient(to left, rgba(30, 75, 115, 0.61), rgba(231, 182, 182, 0.63));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right;
  margin-bottom: 5rem;
  padding: 2rem 5rem 2rem 5rem;
}

.case-heading {
  margin-top: 7rem;
  margin-bottom: 2rem;
  color: $textDark;
}

// Finance in Case studies

.finance {
  width: 58rem;
  margin: 0 auto;
  background: $textLight;
  padding: 3rem;
  color: rgba(65, 65, 65, 0.897);
}

.finance h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.finance p {
  font-weight: 400;
  margin-bottom: 2rem;
}

.opt-case {
  display: flex;
}

.credit-score {
  padding: 30px;
  width: 195px;
  height: 195px;
  color: #4ec1b2;
  font-size: 0.9rem;
  text-align: center;
  box-shadow: 2px 2px 25px #aaa;
  margin-right: 2rem;
}

// How we do it

.do-it-text {
  margin: 0 auto;
  width: 53rem;
  padding: 10px;
  color: rgb(51, 51, 51);
  margin-bottom: 5rem;
  font-weight: 400;
}

.visualization {
  padding: 10px;
  margin: 0 auto;
  box-shadow: 2px 2px 20px #aaa;
}

.visualization h4 {
  font-size: 1.2rem;
  text-align: center;
  color: rgb(51, 51, 51);
}
.visualization-text {
  color: rgb(51, 51, 51);
  padding: 1rem;
  text-align: center;
}

// Analytical Stage

.analytical-wallpaper {
  background-image: url(https://mdn.mozillademos.org/files/11307/bubbles.png),
    linear-gradient(
      to bottom,
      rgba(207, 205, 205, 0.61),
      rgba(253, 253, 253, 0.212)
    );
  margin-bottom: 7rem;
}

.analytical {
  width: 57rem;
  margin: 0 auto;
  // box-shadow: 2px 2px 20px #aaa;
  //   margin-bottom: 5rem;
  padding-top: 5rem;
}

.analytical-heading {
  position: relative;
  bottom: 56%;
  left: 5%;
  font-size: 3rem;
  color: $textLight;
}
.analytical-options {
  width: 110%;
  position: relative;
  bottom: 85%;
  left: 20%;
}

.box {
  width: 70%;
  height: 80%;
  border-right: 3px dashed rgba(43, 0, 199, 0.274);
}
.blank {
  width: 65%;
}
.blank-r {
  width: 80%;
}
.card {
  //   width: 80%;
  padding: 10px;
  display: flex;
  text-align: center;
  margin-bottom: 1rem;
  //   box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.507);
}
.card-values {
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.61);
  padding: 10px;
  box-shadow: 2px 2px 20px rgba(199, 55, 55, 0.479);
}
.serial {
  padding: 5px;
  width: 50px;
  height: 50px;
  background-color: #e9eef9;
  margin-right: 2rem;
}
.serial-r p,
.serial p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2f60ce;
}
.serial-r {
  padding: 5px;
  width: 50px;
  height: 50px;
  background-color: #e9eef9;
  margin-right: 1rem;
}

.card-text {
  margin-left: 1rem;
  margin-right: 5rem;
}
.card-text-r h4,
.card-text h4 {
  font-size: 1rem;
  color: #2f60ce;
}
.card-text-r p,
.card-text p {
  font-size: 0.8rem;
  color: #aaa;
}
.card-text-r {
  margin-right: 2rem;
  margin-left: 4rem;
}
// Contact us

.contact-us {
  height: 50vh;
  text-align: center;
  background-image: url(../images/contact_us.jpg);
  padding-top: 5rem;
}
.contact-us p,
.contact-us h4 {
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

.contact-btn {
  color: $textLight;
  margin-right: 5rem;
}

// Meia query

@media all and (max-width: 768px) {
  body {
    font-size: 12px;
    margin: 0 auto;
  }
  .list {
    display: none;
  }
  header {
    clip-path: none;
    background-size: cover;
  }
  .automation {
    margin-left: 0;
    font-size: 16px;
  }
  .ai-col {
    width: 100%;
    margin-left: 0;
  }
  .truescore {
    width: 100%;
  }
  .truescore img {
    width: 100%;
  }
  .truescore-text {
    width: 100%;
  }
  .demand-ai {
    width: 100%;
  }
  .demand-ai img {
    width: 100%;
  }
  .work-grid {
    margin: 0;
  }
  .case-wallpaper {
    padding: 0;
  }
  .credit-score {
    margin-bottom: 1rem;
  }

  .finance {
    width: 100%;
    margin-left: 0;
  }
  .opt-case {
    width: 100%;
    display: block;
  }
  .credit-score {
    width: 100%;
  }
}
