/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 16px 30px;
}

.grid-col2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  grid-gap: 2rem;
}

.grid-col3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.grid-col4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.grid-row2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 47.4% 47.4%;
      grid-template-rows: 47.4% 47.4%;
  grid-gap: 2rem;
}

@media all and (max-width: 768px) {
  .grid-col1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  font-family: Source Sans Pro, sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 2, 141, 0.664);
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 2, 141, 0.664);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.center-child {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bold {
  font-weight: 700;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.btn-animation {
  -webkit-animation: btnZoom 2s ease-in-out;
          animation: btnZoom 2s ease-in-out;
}

@-webkit-keyframes btnZoom {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
}

@keyframes btnZoom {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
}

header {
  height: 100vh;
  background-image: url(/assets/images/header_image.jpg);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.data {
  font-weight: 700;
}

.logo {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo h1 {
  margin-top: 8px;
  margin-left: 5px;
  font-size: 1.5rem;
}

.list li {
  font-size: 0.8rem;
  display: inline;
}

.list a {
  text-decoration: none;
  padding: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #cfc8c8;
}

.list a:hover {
  border-bottom: 3px solid #fff;
  cursor: pointer;
}

nav {
  position: fixed;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* hero */
.automation {
  margin: 4rem 0 0 5.5rem;
  color: #fff;
}

.automation-head {
  margin-top: 12rem;
  font-size: 2.7rem;
  font-weight: 600;
  -webkit-animation: slideInLeft 1s ease-in-out;
          animation: slideInLeft 1s ease-in-out;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: visible;
  }
  90% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: visible;
  }
  90% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.automation-body {
  font-weight: 300;
  font-size: 1.2rem;
  -webkit-animation: slideInRight 1s ease-in-out;
          animation: slideInRight 1s ease-in-out;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: visible;
  }
  90% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: visible;
  }
  90% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.btn {
  padding: 0.7rem 0.8rem;
  font-size: 1rem;
  background-color: #f4895e;
  border: 2px solid #f4895e;
}

.btn-know {
  padding: 0.7rem 0.8rem;
  font-size: 1rem;
  background: rgba(30, 7, 7, 0.1);
  border: 2px solid rgba(30, 7, 7, 0.005);
  margin-left: 2rem;
}

.btn:hover,
.btn-know:hover {
  background: #888888b9;
  border: 0;
  -webkit-box-shadow: 2px 2px 20px #000;
          box-shadow: 2px 2px 20px #000;
  margin-right: 4px;
  cursor: pointer;
}

.work {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #2f60ce;
}

.work-grid {
  margin: 0 9rem;
}

.ai-col {
  background-image: url(/assets/images/green-bg.png);
  background-size: cover;
  padding: 2rem;
  text-align: left;
}

.ai {
  height: 180px;
  margin-bottom: 1rem;
}

.ai-heading {
  color: #fff;
}

.sub-head {
  color: #fff;
  margin-top: 0.2rem;
  margin-bottom: 1.2rem;
}

.ai-text {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1rem;
}

.ai-btn {
  margin-top: 1.1rem;
  float: right;
  color: #fff;
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem;
  background: rgba(30, 7, 7, 0.1);
  border: 2px solid rgba(30, 7, 7, 0.005);
}

.ai-btn:hover {
  background: #88888860;
  border: 0;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473);
  cursor: pointer;
}

.truescore {
  background-image: url(/assets/images/blue-bg.png);
  padding: 2rem;
  color: #fff;
}

.image {
  margin-top: 1rem;
}

.truescore-text {
  margin: 2rem;
}

.truescore-text h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.tr-btn {
  float: right;
  color: #fff;
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem;
  background: rgba(30, 7, 7, 0.1);
  border: 2px solid rgba(30, 7, 7, 0.005);
}

.tr-btn:hover {
  background: #88888860;
  border: 0;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473);
  margin-bottom: 4px;
  cursor: pointer;
}

.demand-ai {
  background-image: url(/assets/images/blue-bg.png);
  padding: 2rem;
}

.case-wallpaper {
  background-image: url(https://mdn.mozillademos.org/files/11307/bubbles.png), -webkit-gradient(linear, right top, left top, from(rgba(30, 75, 115, 0.61)), to(rgba(231, 182, 182, 0.63)));
  background-image: url(https://mdn.mozillademos.org/files/11307/bubbles.png), linear-gradient(to left, rgba(30, 75, 115, 0.61), rgba(231, 182, 182, 0.63));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right;
  margin-bottom: 5rem;
  padding: 2rem 5rem 2rem 5rem;
}

.case-heading {
  margin-top: 7rem;
  margin-bottom: 2rem;
  color: #2f60ce;
}

.finance {
  width: 58rem;
  margin: 0 auto;
  background: #fff;
  padding: 3rem;
  color: rgba(65, 65, 65, 0.897);
}

.finance h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.finance p {
  font-weight: 400;
  margin-bottom: 2rem;
}

.opt-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.credit-score {
  padding: 30px;
  width: 195px;
  height: 195px;
  color: #4ec1b2;
  font-size: 0.9rem;
  text-align: center;
  -webkit-box-shadow: 2px 2px 25px #aaa;
          box-shadow: 2px 2px 25px #aaa;
  margin-right: 2rem;
}

.do-it-text {
  margin: 0 auto;
  width: 53rem;
  padding: 10px;
  color: #333333;
  margin-bottom: 5rem;
  font-weight: 400;
}
/*# sourceMappingURL=styles.css.map */